@{
    ViewData["Title"] = "Error Page";
}
<h1>@ViewData["Title"]</h1>

<p>An error occurred while processing your request. Press 'back' to redirect to the homepage.</p>
<a class="btn btn-sm btn-outline-dark" asp-controller="Home" asp-action="Back">Back</a>
